@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

$color-red: #E02C2B;

.navbar {
  padding: 0px;
}

.navbar-nav a {
  text-decoration: none;
}

.nav-item {
  padding: 10px 0;
  a {
    padding-left: 0px !important;
  }
  .nav-link {
    padding: 10px 0;
    width: 120px;
    max-width: 130px;
    font-weight: bold;
    &:hover {
      color: $color-red
    }
  }
}

.drop-wrap {
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.middle-nav {
  background: white !important;
  padding: 20px;
  .navbar-nav {
    a {
      width: 150px;
      padding: 0 15px;
      .icon {
        color: black;
        font-size: 35px;
        padding-right: 20px;
      }
      .text {
        color: black;
        span {
          color: red;
        }
      }
    }
  }
}

.head-nav {
  .message {
    color: white;
  }
  .nav-item {
    display: flex;
    align-items: center;
    width: 120px;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    &:hover {
      color: $color-red;
    }

    i {
      font-size: 20px;
      font-weight: bold;
      margin-left: 4px;
      margin-top: 2px;
    }
  }
}

.fix-nav {
  position: sticky;
  top: 0;
  z-index: 10;
  .nav-link {
    color: white;
  }
}
