<nav class="navbar navbar-dark bg-dark head-nav">
  <div class="container">
    <div class="navbar-expand mr-auto">
      <div class="message">Message</div>
    </div>
    <div class="navbar-expand ml-auto navbar-nav">
      <div class="navbar-nav">
        <div class="dropdown">
          <div class="drop-wrap nav-item">Setting<i class="fa fa-angle-down"></i></div>
          <div class="dropdown-content">
            <a href="#">Login</a>
            <a href="#">Register</a>
            <a href="#">My Account</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

<nav class="navbar navbar-dark bg-light middle-nav">
  <div class="container">
    <div class="navbar-expand mr-auto">
      <img src="../../../assets/img/logo/logo.png" alt="">
    </div>
    <div class="navbar-expand ml-auto navbar-nav">
      <div class="navbar-nav">
        <a href="">
          <div class="d-flex justify-content-between">
            <div class="icon">
              <i class="far fa-user"></i>
            </div>
            <div class="text">
              Register or <span>Sign in</span>
            </div>
          </div>
        </a>
        <a href="">
          <div class="d-flex justify-content-between">
            <div class="icon">
              <i class="far fa-heart"></i>
            </div>
            <div class="text">
              Your <span>Wishlist</span>
            </div>
          </div>
        </a>
        <a href="">
          <div class="d-flex justify-content-between">
            <div class="icon">
              <i class="fa fa-shopping-cart"></i>
            </div>
            <div class="text">
              My Cart <span>$5000</span>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</nav>

<nav class="navbar navbar-expand-lg bg-dark fix-nav">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="#">HOME<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">FOOD</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">DRINK</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">CONTACT US</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


